**/node_modules/

**/build/
**/dist/
**/.expo/
**/.expo-shared/
**/web-build/

.DS_Store
Thumbs.db

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.expo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.tsbuildinfo

.env
.env.*

my-app/ios/Pods/
my-app/ios/build/
my-app/ios/DerivedData/

my-app/android/.gradle/
my-app/android/build/
my-app/android/app/build/

package-lock.json
yarn.lock
pnpm-lock.yaml

.expo/
.expo-shared/
